.header__group-title {
  letter-spacing: -.05em;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%;
}

.products__title, .footer__contacts-title, .blog__about-title {
  letter-spacing: -.05em;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%;
}

@font-face {
  font-family: Inter, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  font-weight: normal;
  font-style: normal;
}

.blog {
  margin-bottom: 72px;
  padding: 0 16px;
}

@media (width >= 576px) {
  .blog {
    background-image: url("img-crumbs.475ffbe6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 526px 493px;
    margin-bottom: 152px;
    padding: 0 44px;
  }
}

@media (width >= 976px) {
  .blog {
    background-size: 718px 673px;
    height: 673px;
    margin-bottom: 56px;
  }
}

@media (width >= 1240px) {
  .blog {
    padding: 0 124px;
  }
}

.blog__about {
  margin-bottom: 64px;
}

@media (width >= 576px) {
  .blog__about {
    column-gap: 24px;
    margin-bottom: 72px;
    display: flex;
  }
}

@media (width >= 976px) {
  .blog__about {
    margin-bottom: 144px;
  }
}

@media (width >= 1240px) {
  .blog__about {
    margin-bottom: 146px;
  }
}

.blog__about-title {
  color: #f9512e;
  margin: 0 0 32px;
}

@media (width >= 576px) {
  .blog__about-title {
    letter-spacing: -.05em;
    text-transform: uppercase;
    width: 338px;
    height: 96px;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
  }
}

@media (width >= 976px) {
  .blog__about-title {
    letter-spacing: -.05em;
    text-transform: uppercase;
    width: 544px;
    font-family: Inter, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
  }
}

@media (width >= 1240px) {
  .blog__about-title {
    width: 584px;
  }
}

.blog__about-description {
  color: #1c1a26;
  letter-spacing: -.01em;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 576px) {
  .blog__about-description {
    width: 318px;
    height: 216px;
    margin: 0;
  }
}

@media (width >= 976px) {
  .blog__about-description {
    width: 544px;
    height: 120px;
  }
}

.blog__stats {
  background-image: url("img-crumbs.475ffbe6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 320px 300px;
  flex-direction: column;
  row-gap: 48px;
  display: flex;
}

@media (width >= 576px) {
  .blog__stats {
    background-image: none;
    flex-flow: wrap;
    gap: 80px 24px;
  }

  .blog__stat {
    width: 328px;
  }
}

@media (width >= 976px) {
  .blog__stat {
    width: 260px;
  }
}

@media (width >= 1240px) {
  .blog__stat {
    width: 270px;
  }
}

.blog__stat-title {
  color: #f9512e;
  letter-spacing: -.05em;
  text-transform: uppercase;
  margin: 0 0 8px;
  font-family: Inter, sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%;
}

.blog__stat-description {
  color: #1c1a26;
  letter-spacing: -.01em;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 976px) {
  .card {
    width: 402px;
  }
}

@media (width >= 1240px) {
  .card {
    width: 432px;
  }
}

.card__img {
  width: 288px;
  height: 356px;
  margin-bottom: 16px;
  transition: transform .3s;
}

.card__img:hover {
  transform: scale(1.05);
}

@media (width >= 576px) {
  .card__img {
    width: 328px;
    height: 424px;
  }
}

@media (width >= 976px) {
  .card__img {
    width: 402px;
    height: 512px;
  }
}

@media (width >= 1240px) {
  .card__img {
    width: 432px;
    height: 560px;
  }
}

.card__title {
  color: #7f8096;
  letter-spacing: -.02em;
  text-transform: uppercase;
  margin: 0 0 8px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.card__description {
  color: #1c1a26;
  letter-spacing: -.01em;
  height: 48px;
  margin: 0 0 16px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.card__button {
  color: #f9512e;
  cursor: pointer;
  letter-spacing: -.02em;
  text-transform: uppercase;
  background-color: #ffeefc;
  border: 0;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 32px;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  transition: transform .3s;
  display: flex;
}

.card__button:hover {
  border-bottom: 1px solid #f9512e;
  transform: scale(1.2);
}

.card__button:focus {
  color: #b2341a;
  border-color: #b2341a;
}

.card__button:disabled {
  color: #fba28f;
  border-color: #fba28f;
}

.card__button-img {
  background-image: url("icon-arrow-right.bf151d14.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.card__button:focus .card__button-img {
  background-image: url("icon-arrow-right-focused.7bb9419c.svg");
}

.footer {
  background: #1c1a26;
  padding: 56px 16px;
}

@media (width >= 576px) {
  .footer {
    flex-flow: wrap;
    gap: 48px 24px;
    padding: 88px 44px;
    display: flex;
  }
}

@media (width >= 976px) {
  .footer {
    column-gap: 308px;
  }
}

@media (width >= 1240px) {
  .footer {
    column-gap: 328px;
    padding: 88px 124px;
  }
}

.footer__title {
  width: 168px;
  height: 40px;
  margin-bottom: 40px;
  transition: transform .3s;
  display: block;
}

.footer__title:hover {
  transform: scale(1.2);
}

@media (width >= 976px) {
  .footer__title {
    margin-bottom: 61px;
  }
}

.footer__menu {
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 64px;
  display: flex;
}

@media (width >= 576px) {
  .footer__menu {
    width: 328px;
    margin: 0;
  }
}

@media (width >= 976px) {
  .footer__menu {
    width: 260px;
  }
}

@media (width >= 1240px) {
  .footer__menu {
    width: 280px;
  }
}

.footer__menu-title {
  color: #7f8096;
  letter-spacing: -.02em;
  text-transform: uppercase;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.footer__menu-link {
  color: #fff;
  width: max-content;
  text-decoration: none;
  transition: transform .3s ease-in-out;
}

.footer__menu-link:hover {
  color: #f9512e;
  transform: scale(1.2);
}

@media (width >= 576px) {
  .footer__contacts {
    width: 328px;
  }
}

@media (width >= 976px) {
  .footer__contacts {
    flex-flow: wrap;
    gap: 40px 24px;
    width: 544px;
    display: flex;
  }
}

.footer__contacts-title {
  color: #fff;
  margin: 0 0 40px;
}

@media (width >= 576px) {
  .footer__contacts-title {
    letter-spacing: -.05em;
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
  }
}

@media (width >= 976px) {
  .footer__contacts-title {
    letter-spacing: -.05em;
    text-transform: uppercase;
    width: 544px;
    height: max-content;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
  }
}

.footer__contacts-call {
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 40px;
  display: flex;
}

@media (width >= 976px) {
  .footer__contacts-call {
    width: 260px;
    margin: 0;
  }
}

.footer__contacts-call-title {
  color: #7f8096;
  letter-spacing: -.02em;
  text-transform: uppercase;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.footer__contacts-call-link {
  color: #fff;
  width: max-content;
  text-decoration: none;
  transition: transform .3s ease-in-out;
}

.footer__contacts-call-link:hover {
  color: #f9512e;
  transform: scale(1.2);
}

.footer__contacts-email {
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 40px;
  display: flex;
}

@media (width >= 576px) {
  .footer__contacts-email {
    margin: 0;
  }
}

.footer__contacts-email-title {
  color: #7f8096;
  letter-spacing: -.02em;
  text-transform: uppercase;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.footer__contacts-email-link {
  color: #fff;
  width: max-content;
  text-decoration: none;
  transition: transform .3s ease-in-out;
}

.footer__contacts-email-link:hover {
  color: #f9512e;
  transform: scale(1.2);
}

.footer__social {
  align-items: center;
  column-gap: 32px;
  margin-bottom: 40px;
  display: flex;
}

@media (width >= 576px) {
  .footer__social {
    width: 328px;
    margin: 0;
  }
}

@media (width >= 976px) {
  .footer__social {
    width: 260px;
  }
}

@media (width >= 1240px) {
  .footer__social {
    width: 280px;
  }
}

.footer__social-link {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: flex;
}

.footer__social-link:hover {
  transform: scale(1.2);
}

.footer__social-link-img1 {
  background-image: url("icon-facebook.01dd917e.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 20px;
}

.footer__social-link-img1:hover {
  background-image: url("icon-facebook-hover.11b88b45.svg");
}

.footer__social-link-img2 {
  background-image: url("icon-instagram.19994a81.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.footer__social-link-img2:hover {
  background-image: url("icon-instagram-hover.98956758.svg");
}

.footer__social-link-img3 {
  background-image: url("icon-twiter.50ce3ff2.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
}

.footer__social-link-img3:hover {
  background-image: url("icon-twiter-hover.731aaf39.svg");
}

.footer__security {
  color: #7f8096;
  letter-spacing: -.01em;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header {
  margin-bottom: 104px;
  padding: 16px 16px 0;
}

@media (width >= 576px) {
  .header {
    margin: 0 0 1px;
    padding: 16px 44px 0;
  }
}

@media (width >= 976px) {
  .header {
    background-image: url("cookie-img.3e75a648.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 574px 576px;
    margin-bottom: 152px;
    padding-top: 28px;
  }
}

@media (width >= 1240px) {
  .header {
    background-size: 574px 576px;
    padding: 28px 124px 0;
  }
}

.header__nav {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  display: flex;
}

@media (width >= 576px) {
  .header__nav {
    margin-bottom: 96px;
  }
}

@media (width >= 976px) {
  .header__nav {
    margin-bottom: 163px;
  }
}

@media (width >= 1240px) {
  .header__nav {
    margin-bottom: 176px;
  }
}

.header__nav-title {
  width: 136px;
  height: 22px;
}

.header__nav-title-img {
  transition: transform .3s;
}

.header__nav-title-img:hover {
  transform: scale(1.2);
}

.header__nav-group {
  display: none;
}

@media (width >= 976px) {
  .header__nav-group {
    column-gap: 64px;
    display: flex;
  }
}

.header__nav-group-link {
  color: #1c1a26;
  letter-spacing: -.01em;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  transition: transform .3s ease-in-out;
}

.header__nav-group-link:hover {
  color: #f9512e;
  transform: scale(1.2);
}

.header__nav-group-button {
  color: #f9512e;
  cursor: pointer;
  letter-spacing: -.02em;
  text-transform: uppercase;
  background-color: #ffeefc;
  border: 0;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 32px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  display: flex;
}

.header__nav-group-button:hover {
  border-bottom: 1px solid #f9512e;
}

.header__nav-group-button:focus {
  color: #b2341a;
  border-color: #b2341a;
}

.header__nav-group-button:disabled {
  color: #fba28f;
  border-color: #fba28f;
}

.header__nav-group-button-img {
  background-image: url("icon-mobile.0a1eed42.svg");
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.header__nav-group-button:focus .header__nav-group-button-img {
  background-image: url("icon-mobile-focused.849faf37.svg");
}

.header__nav-menu {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
}

@media (width >= 976px) {
  .header__nav-menu {
    display: none;
  }
}

.header__nav-menu-img {
  transition: transform .3s;
}

.header__nav-menu-img:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .header__group {
    background-image: url("cookie-img.3e75a648.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 356px 358px;
  }
}

@media (width >= 976px) {
  .header__group {
    background-image: none;
  }
}

.header__group-description {
  color: #1c1a26;
  text-align: center;
  letter-spacing: -.01em;
  margin: 0 0 32px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 576px) {
  .header__group-description {
    text-align: start;
    width: 280px;
    margin-bottom: 146px;
  }
}

@media (width >= 976px) {
  .header__group-description {
    width: 260px;
    margin-bottom: 8px;
  }
}

@media (width >= 1240px) {
  .header__group-description {
    width: 280px;
    margin-bottom: 40px;
  }
}

.header__group-title {
  color: #f9512e;
  text-align: center;
  margin: 0;
}

@media (width >= 576px) {
  .header__group-title {
    letter-spacing: -.05em;
    text-transform: uppercase;
    margin-bottom: 210px;
    font-family: Inter, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
  }
}

@media (width >= 976px) {
  .header__group-title {
    letter-spacing: -.05em;
    text-align: center;
    margin-bottom: 64px;
    font-family: Inter, sans-serif;
    font-size: 130px;
    font-weight: 400;
    line-height: 115.6px;
  }
}

@media (width >= 1240px) {
  .header__group-title {
    font-size: 135px;
    line-height: 122.4px;
  }
}

.header__group-img {
  width: 288px;
  height: 290px;
}

@media (width >= 576px) {
  .header__group-img {
    display: none;
  }
}

.header__group-button {
  color: #f9512e;
  cursor: pointer;
  letter-spacing: -.02em;
  text-transform: uppercase;
  background-color: #ffeefc;
  border: 2px solid #f9512e;
  border-radius: 32px;
  outline: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  transition: transform .3s;
  display: flex;
}

.header__group-button:hover {
  transform: scale(1.1);
}

@media (width >= 576px) {
  .header__group-button {
    width: 326px;
    margin: 0 auto;
  }
}

@media (width >= 976px) {
  .header__group-button {
    width: 260px;
    margin: 0;
  }
}

@media (width >= 1240px) {
  .header__group-button {
    width: 280px;
  }
}

.header__group-button:hover {
  color: #ffeefc;
  background-color: #f9512e;
  border: 0;
}

.header__group-button:focus {
  background-color: #b2341a;
}

.header__group-button:disabled {
  color: #fba28f;
  border: 2px solid #fba28f;
}

.header__group-button-img {
  background-image: url("icon-cookie.8641df29.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.header__group-button:hover .header__group-button-img {
  background-image: url("icon-cookie-hover.5ccf781e.svg");
}

.menu {
  opacity: 0;
  pointer-events: none;
  background: #ffeefc;
  height: 100vh;
  padding: 16px 16px 0;
  transition: transform .3s ease-in-out;
  position: absolute;
  transform: translateY(-100%);
}

@media (width >= 576px) {
  .menu {
    padding: 16px 44px 0;
  }
}

@media (width >= 976px) {
  .menu {
    display: none;
  }
}

.menu:target {
  opacity: 1;
  pointer-events: all;
  transition: transform .3s ease-in-out;
  position: absolute;
  inset: 0;
  transform: translateY(0);
}

.menu__nav {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 152px;
  display: flex;
}

.menu__nav-title {
  width: 136px;
  height: 32px;
}

.menu__nav-title-img {
  transition: transform .3s;
}

.menu__nav-title-img:hover {
  transform: scale(1.1);
}

.menu__nav-cross {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
}

.menu__nav-cross-img {
  transition: transform .3s;
}

.menu__nav-cross-img:hover {
  transform: scale(1.2);
}

.menu__group {
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  display: flex;
}

.menu__group-link {
  color: #1c1a26;
  letter-spacing: -.01em;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  transition: transform .3s ease-in-out;
}

.menu__group-link:hover {
  color: #f9512e;
  transform: scale(1.2);
}

.menu__group-button {
  color: #f9512e;
  cursor: pointer;
  letter-spacing: -.02em;
  text-transform: uppercase;
  background-color: #ffeefc;
  border: 0;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 32px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  display: flex;
}

.menu__group-button:hover {
  border-bottom: 1px solid #f9512e;
}

.menu__group-button:focus {
  color: #b2341a;
  border-color: #b2341a;
}

.menu__group-button:disabled {
  color: #fba28f;
  border-color: #fba28f;
}

.menu__group-button-img {
  background-image: url("icon-mobile.0a1eed42.svg");
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.menu__group-button-img:focus .menu__group-button-img-img {
  background-image: url("icon-mobile-focused.849faf37.svg");
}

html {
  scroll-behavior: smooth;
}

.page {
  background: #ffeefc;
  margin: 0;
  padding: 0;
}

.page:has(.menu:target) {
  overflow: hidden;
}

.products {
  margin-bottom: 72px;
  padding: 0 16px;
}

@media (width >= 576px) {
  .products {
    margin-bottom: 152px;
    padding: 0 44px;
  }
}

@media (width >= 976px) {
  .products {
    margin-bottom: 178px;
  }
}

@media (width >= 1240px) {
  .products {
    padding: 0 124px;
  }
}

.products__title {
  color: #f9512e;
  margin: 0 0 24px;
}

@media (width >= 576px) {
  .products__title {
    letter-spacing: -.05em;
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
  }
}

@media (width >= 976px) {
  .products__title {
    letter-spacing: -.05em;
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
  }
}

.products__description {
  color: #1c1a26;
  letter-spacing: -.01em;
  margin: 0 0 56px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 576px) {
  .products__description {
    margin-bottom: 80px;
  }
}

.products__groups {
  flex-direction: column;
  row-gap: 56px;
  display: flex;
}

@media (width >= 576px) {
  .products__groups {
    row-gap: 80px;
  }
}

.products__group-1 {
  flex-direction: column;
  row-gap: 56px;
  display: flex;
}

@media (width >= 576px) {
  .products__group-1 {
    flex-direction: row;
    column-gap: 24px;
  }
}

.products__group-2 {
  flex-direction: column;
  row-gap: 56px;
  display: flex;
}

@media (width >= 576px) {
  .products__group-2 {
    flex-direction: row;
    column-gap: 24px;
  }
}

@media (width >= 976px) {
  .products__group-2 {
    margin-left: auto;
  }
}

.products__group-3 {
  flex-direction: column;
  row-gap: 56px;
  display: flex;
}

@media (width >= 576px) {
  .products__group-3 {
    flex-direction: row;
    column-gap: 24px;
  }
}
/*# sourceMappingURL=index.971c2ea4.css.map */
